[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pandas = "*"
numpy = "*"
keras = "*"
scikit-learn = "*"
moviepy = "*"
tensorflow = "*"
matplotlib = "*"
youtube-dl = "*"
scikit-image = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
